body {
    background-color: aqua;
    text-align: center;
}

header {
    width: 300px;
    margin: 100px auto 0 auto;
    /* text-align: center; */

}

.image img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 10px solid red;
}

h1 {
    text-transform: capitalize;
    font-size: 3em;;
}
/* .principal {
    margin-top: 0;
    width: 400px;
    padding: 20px auto;
    background-color: lightpink;
} */

.icon-img {
    width: 60px;
    margin: 20px;
    display: inline-block;
}

.email {
    display: flex;
    gap: 50px;
    justify-items: center;
}

.email-link {
    display: inline-block; 
    text-decoration: none;
    padding: 20px;
    background-color: orange;
    border-radius: 30px;
}

button {
    width: 300px;
    padding: 20px;
    border-radius: 30px;
}

.faw {
    margin-right: 10px;
}

p {
    /* width: 300px; */
    padding: 0 200px;
}